{% extends 'base.html.twig' %}

{% block body %}
    <form method="POST" action="{{ path('user_login') }}">
        <input type="text" name="email">
        <input type="password" name="password">
        <button type="submit">Login</button>
    </form>
{% endblock %}