{% extends 'base.html.twig' %}

{% block body %}
    {{ app.user.user.email.value|default('') }}<br>
    {{ app.user.user.roles.value|join(', ') }}<br>
    <a href="{{ path('user_logout') }}">Logout</a>
{% endblock %}
